#principal{
    margin: auto;
    border-radius: 30px;
    border-style: solid;
    width: 600px;
    height: 600px;
    background-color: black;

}
#o1{
    margin: auto;
    position: relative;
    top:20px;
    margin-left: 10px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: black;
    

}
#o2{
    margin: auto;
    margin-right: 10px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: black;

}
#n1{
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: orangered;
    border-radius: 20px;
}

#b1{
    margin: auto;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color:aliceblue;
}
#b2{
    margin: auto;
    border-radius: 150px;
    width: 200px;
    height: 200px;
    background-color:aliceblue;
}
#b3{
    margin: auto;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    background-color:aliceblue;
}
#m1{
    position: relative;
    top: 60px;
    margin: auto;
    width: 400px;;
    height: 25px;
    background-color: aliceblue;
    position: relative;
    right: 100px;
}

